:root {
  --ll-sound-transit-green: #28813f;
  --ll-sound-transit-blue: #007cad;
  --ll-shared-track: #a1a100;
}

.wa-dark {
  --ll-log-level-I-on: var(--wa-color-brand-on-normal);
  --ll-log-level-W-on: var(--wa-color-warning-on-normal);
  --ll-log-level-E-on: var(--wa-color-error-on-normal);
  --ll-log-level-D-on: var(--wa-color-cyan-20);
  --ll-log-level-V-on: var(--wa-color-purple-20);
}

body {
  margin: 8px;
}

h1 {
  color: var(--ll-sound-transit-blue);
}

wa-card {
  margin-bottom: 12px;
}

wa-card h3 {
  margin: 0;
}

.sound-transit-green {
  background-color: var(--ll-sound-transit-green);
  color: white;
}

.sound-transit-blue {
  background-color: var(--ll-sound-transit-blue);
  color: white;
}

.sound-transit-yellow {
  background-color: var(--ll-shared-track);
}

/* Styles used to display trains as LED squares */
[class^="led-square"] {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #1a1a1a;
  flex-shrink: 0;
  display: inline-block;
}

.led-square-green {
  background-color: var(--ll-sound-transit-green);
}

.led-square-blue {
  background-color: var(--ll-sound-transit-blue);
}

.led-square-yellow {
  background-color: var(--ll-shared-track);
}

/* 
Use with a div to align input field labels on the left, and the input field on the right.
Right now only targets wa-input, wa-select, and wa-color-picker. When using additional
components, they will need to be added here.
*/
.label-on-left {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--wa-space-l);
  align-items: center;

  wa-input,
  wa-select,
  wa-number-input,
  wa-color-picker {
    grid-column: 1 / -1;
    grid-row-end: span 2;
    display: grid;
    grid-template-columns: subgrid;
    gap: 0 var(--wa-space-l);
    align-items: center;
  }

  ::part(label) {
    text-align: right;
  }

  ::part(hint) {
    grid-column: 2;
  }
}
